@model Bibliotheek.Models.RegisterModel
@{
    ViewBag.Title = "Contact";
}

<div class="span8 page-content">

    <article class="type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">Registreren</a>
        </h1>
        <hr>
    </article>

    <p>Oeps, de account kon niet worden aangemaakt... Probeer het later nog eens!</p>
</div>

<aside class="span4 page-sidebar">

    <section class="widget">
        <div class="support-widget">
            <h3 class="title">Support</h3>
            <p class="intro">Hebt u hulp nodig en hebt u het niet kunnen vinden op onze website? Neem gerust contact met ons op!</p>
        </div>
    </section>

    @Html.Partial("_NewBook")
</aside>