@using Bibliotheek.Models
@{
    ViewBag.Title = "Auteur";
    var name = Url.RequestContext.RouteData.Values["name"].ToString();
    var authorInfo = BookModel.SelectAuthors(name);
}

<div class="span8 page-content">

    <article class="type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">
                @name
            </a>
        </h1>
        <hr>
    </article>

    <p>
        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th>
                        Titel
                    </th>
                    <th>
                        Genre
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 1; i <= authorInfo.Count / 3; i++)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(authorInfo[i * 3 - 2], "SingleBook", "Book", new { id = authorInfo[i * 3 - 3] }, null)
                        </td>
                        <td>
                            @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(authorInfo[i * 3 - 1])], "Genre", "Book", new { genre = authorInfo[i * 3 - 1] }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </p>
</div>

<aside class="span4 page-sidebar">
    @Html.Partial("_NewBook")
</aside>

@section scripts {
    <script type="text/javascript" src="~/Js/sorttable.min.js"></script>
}