@model Bibliotheek.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}

<div class="span8 page-content">

    <article class="type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">
                Contact
            </a>
        </h1>
        <hr>
    </article>

    <p>
        Uw bericht is verstuurd! Wij zullen zo snel mogelijk contact met u opnemen!
    </p>
</div>

<aside class="span4 page-sidebar">
    @Html.Partial("_NewBook")
</aside>