<section class="widget">
    <h3 class="title">Laatste boeken</h3>
    <ul class="articles">
        <li class="article-entry standard">
            <h4><a href="single.html">Placeholder</a></h4>
            <span class="article-meta">12 Sep, 2014 in <a href="#" title="Bekijk alle nieuwe boeken">Nieuwe boeken</a></span>
            <span class="like-count">69</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">Placeholder</a></h4>
            <span class="article-meta">12 Sep, 2014 in <a href="#" title="Bekijk alle nieuwe boeken">Nieuwe boeken</a></span>
            <span class="like-count">69</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">Placeholder</a></h4>
            <span class="article-meta">12 Sep, 2014 in <a href="#" title="Bekijk alle nieuwe boeken">Nieuwe boeken</a></span>
            <span class="like-count">69</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">Placeholder</a></h4>
            <span class="article-meta">12 Sep, 2014 in <a href="#" title="Bekijk alle nieuwe boeken">Nieuwe boeken</a></span>
            <span class="like-count">69</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">Placeholder</a></h4>
            <span class="article-meta">12 Sep, 2014 in <a href="#" title="Bekijk alle nieuwe boeken">Nieuwe boeken</a></span>
            <span class="like-count">69</span>
        </li>
    </ul>
</section>